.aider*
.env
.agent-shell/
.DS_Store
eshell/
.cache/
.local/
.dap-breakpoints
bookmarks
devdocs/
elpa/
emojis/
projects
recentf
tramp
transient/
tree-sitter/
.mc-lists.el
.org-id-locations
.org-generic-id-locations
.ssh/
auto-save-list/